^{:launch-js ["npm" "start"] ;; For Windows, change this to ["npm.cmd" "start"]
                             ;; Suggestions gratefully received for a way to make this automatic
  :watch-dirs ["src/config/dev" "src/main" "src/renderer" "src/test"]
  :extra-main-files {:clock {:main wongjoel.clock.clock :output-to "bin/clock.js"}
                     :tests {:main clock.test.runner-visual :output-to "bin/tests.js"}}}
{:main wongjoel.electron.electron
 :output-dir "cljs-temp"
 :output-to "bin/electron.js"
 :target :nodejs}
