^{:launch-js ["npm" "start"] ;; For Windows, change this to ["npm.cmd" "start"]
                             ;; Suggestions gratefully received for a way to make this automatic
  :watch-dirs ["src/config/dev" "src/electron" "src/clock" "src/control"]
  :extra-main-files {:clock {:main wongjoel.clock.clock :output-to "bin/clock.js"}
                     :control {:main wongjoel.control.control :output-to "bin/control.js"}}}
{:main wongjoel.electron.electron
 :output-dir "cljs-temp"
 :output-to "bin/electron.js"
 :target :nodejs}
