* {
    background-color: gray;
    color: whitesmoke;
    font-family: sans-serif;
}

.clock {
    background-color: black;
    font-size: 17vw;
    text-align: center;
    margin: 0vw 1vw 0vw 1vw;
}

.clock-label {
    font-size: 5.5vw;
}

.control {
    font-size: 3em;
}

.button {
    min-width: 10em;
    text-align: center;
    background-color: darkslategrey;
    opacity: 0.6;
    margin: 0.1em;
    display: block;
}

.button:hover {
    opacity: 1;
}

.button:active {
    opacity: 1;
    background-color: green;
    color: black;
}

.number-input {
    font-size: 1em;
    width: 3em;
}

.checkbox {
    width: 2em;
    height: 2em;
}
